* {
  all: unset;
}
.clock-widget {
  background-color: #1e1e2e;
  border-radius: 1.5rem;
  padding: 1rem;
  color: #fab387;
  font-family: monospace;
  box-shadow: none;
  border: none;
}
.time {
  font-size: 4.2em;
  font-weight: bold;
  margin-bottom: 0.3rem;
}
;;  .date {
;;   font-size: 2em;
;;   opacity: 0.85;
;;}
